<body [class]="body">
    <div class="miClase">
        <h2 [class]="change">Primer Proyecto de Angular</h2>
        <div class="buttons">
            <button (click)="cambioColor()">Cambio color</button>
            <button (click)="cambioBg()">Cambio bg</button>
        </div>
    </div>
    <div class="nav">
        <ul>
            <li><a href="default.asp">Home</a></li>
            <li><a href="news.asp">News</a></li>
            <li><a href="contact.asp">Contact</a></li>
            <li><a href="about.asp">About</a></li>
        </ul>
    </div>
</body>