<body>
    <div class="content bg-info">
        <div class="uno">
            <h3>D</h3>
            <h3>E</h3>
            <h3>P</h3>
            <h3>O</h3>
            <h3>R</h3>
            <h3>T</h3>
            <h3>I</h3>
            <h3>S</h3>
            <h3>T</h3>
            <h3>A</h3>
            <h3>S</h3>
        </div>
        <div class="dos">
            <div class="tres">
                <div>
                    <img src="../../../assets/cr7.jpeg" alt="">
                </div>
                <div>
                    <h3>Cristiano Ronaldo</h3>
                    <h5>Futbolista</h5>
                    <p> Se crio en un barrio obrero y a los diez años lo descubrió el Sporting de Lisboa, Cristiano
                        Ronaldo
                        jugaba por entonces en el modesto Andorinha, club de su Funchal natal y en el que su padre
                        trabajaba
                        como utillero. Cuatro años después, acordó con su madre dedicarse exclusivamente al fútbol.

                        Después Ronaldo pasó al Nacional y seis meses después este realiza la cesión de los derechos de
                        Cristiano. En 2001, el técnico del primer equipo, el rumano Laszlo Boloni, quiso que debutara
                        ese
                        mismo año, pero un test lo desaconsejó por no estar lo suficientemente trabajado. Un año después
                        lo
                        hacía debutar en la previa de la Champions ante el Inter.</p>
                </div>
            </div>
            <div class="tres">
                <div>
                    <h3>Lionel Messi</h3>
                    <h5>Futbolista</h5>
                    <p> Con cinco años se inició en el Grandoli, un pequeño equipo de su barrio que entrenaba su padre.

                        En 1995, pasó a entrenarse en las categorías inferiores de Newells Old Boys, club con el que
                        ganó la Copa de la Amistad de Perú en 1997.

                        A los ocho años le diagnosticaron una deficiencia en la hormona del crecimiento, que le impedía
                        tener un desarrollo físico normal. El tratamiento era muy caro y sus padres no podían costearlo.
                    </p>
                </div>
                <div>
                    <img src="../../../assets/lm.jpeg" alt="">
                </div>
            </div>
            <div class="tres">
                <div>
                    <img src="../../../assets/lb.jpeg" alt="">
                </div>
                <div>
                    <h3>Lebron James</h3>
                    <h5>Basquetbolista</h5>
                    <p> Eligió jugar con el dorsal 23, por ser el dorsal de su ídolo Michel Jordan. Otros de sus ídolos
                        fueron Penny Hardaway y Jason Kidd.

                        Con 17 años ya medía 2.00 metros de estatura. Su equipo en el instituto fue el Fighting Irish.
                        Durante su paso por la High School llegó a las cifras de 2.657 puntos, 892 rebotes y 523
                        asistencias, llegando a acaparar la atención de grandes estrellas del deporte como Shaquille
                        O'Neal y siendo televisados algunos partidos suyos a nivel nacional.

                        Quiso entrar en el Draft de la NBA sin haber terminado el instituto, pero no se lo permitieron.
                        Fue nombrado Mr. Basketball en tres ocasiones consecutivas, Mejor Jugador de Instituto 2003 así
                        como otros trofeos de MVP.</p>
                </div>
            </div>
            <div class="tres">
                <div>
                    <h3>Stephan Curry</h3>
                    <h5>Basquetbolista</h5>
                    <p> En 2009 Stephen Curry fue elegido en séptima posición del draft de la NBA de 2009 por los Golden
                        State Warriors. Firmó un contrato por 12.7 millones de dólares por cuatro temporadas.

                        Jugó su primer partido como base en la NBA 28 de octubre de ese mismo año contra los Houston
                        Rockets. En su primera temporada fue seleccionado para el primer equipo de los All-Rookie.

                        Consiguió su primer triple-doble en febrero de 2010, 36 puntos, 13 asistencias y 10 rebotes. En
                        su segunda temporada fue galardonado con el NBA Sportsmanship Award.</p>
                </div>
                <div>
                    <img src="../../../assets/sc.jpeg" alt="">
                </div>
            </div>
            <!-- <tr *ngFor="let item of clase; let indice=index">
                <td>{{indice}}</td>
            </tr> -->
        </div>
    </div>
</body>