<body>
  <div class="content bg-secondary">
    <div class="uno">
      <tr *ngFor="let item of clase; let indice=index">
        <td>{{item}}</td>
      </tr>
    </div>
    <div class="dos">
      <div id="futbolistas">
        <div class="tres" *ngFor="let deportista of futbolistas; let indice=index">
          <div [ngClass]="{'order-1': indice % 2 == 0, 'order-2': indice % 2 != 0}">
            <img [src]="deportista.imagen" alt="">
          </div>
          <div [ngClass]="{'order-2': indice % 2 == 0, 'order-1': indice % 2 != 0}">
            <h3>{{deportista.nombre}}</h3>
            <h5>{{deportista.deporte}}</h5>
            <p>{{deportista.descripcion}}</p>
          </div>
        </div>
      </div>
      <div id="basquetbolistas">
        <div class="tres" *ngFor="let deportista of basquetbolistas; let indice=index">
          <div [ngClass]="{'order-1': indice % 2 == 0, 'order-2': indice % 2 != 0}">
            <img [src]="deportista.imagen" alt="">
          </div>
          <div [ngClass]="{'order-2': indice % 2 == 0, 'order-1': indice % 2 != 0}">
            <h3>{{deportista.nombre}}</h3>
            <h5>{{deportista.deporte}}</h5>
            <p>{{deportista.descripcion}}</p>
          </div>
        </div>
      </div>
      <div id="tenistas">
        <div class="tres" *ngFor="let deportista of tenistas; let indice=index">
          <div [ngClass]="{'order-1': indice % 2 == 0, 'order-2': indice % 2 != 0}">
            <img [src]="deportista.imagen" alt="">
          </div>
          <div [ngClass]="{'order-2': indice % 2 == 0, 'order-1': indice % 2 != 0}">
            <h3>{{deportista.nombre}}</h3>
            <h5>{{deportista.deporte}}</h5>
            <p>{{deportista.descripcion}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>
