body{
    background-color: aquamarine;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
.content{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
}
.uno{
    width: 25%;
    display: grid;
    justify-content: center;
    padding: 1em;

}
.dos{
    width: 75%;
    display: grid;
    padding: 1em;
}
img{
    width: 200px;
    height: 240px;
    margin-right: 10px;
}
.tres{
    display: flex;
}