body{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.footer{
    display: flex;
    justify-content: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
}